@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Sora:wght@100..800&display=swap');

.sora-font {
  font-family: 'Sora', sans-serif;
}

.inter-font {
  font-family: 'Inter', sans-serif;
}

body {
  background-color: #E5E5E5;
}